@{ ViewData["Title"] = "Privacy Policy"; }
<h1>@ViewData["Title"]</h1>

<p>Все данные, предоставляемые вами на этом сайте, принадлежат сети, и могут быть - и обязательно будут - проданы третьим лицам без уведомления. Вы даёте на это полное и безоговорочное согласие при использовании этого сайта.</p>

